.customer-reviews {
    padding-top: 80px;
}
.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
}
.slider .slick-dots li {
    list-style: none;
    display: block;

    padding: 0;
    margin: 0 9px;
    margin-top: 4px;
}
.slider .slick-dots li.slick-active button {
    background-color: #84A178;
}
.slider .slick-dots button {
    font-size: 0;

    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0px;

    background-color: #D9D9D9;
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}
.review-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.customer-photo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.customer-review-text {
    max-width: 280px;
    min-height: 256px;

    margin: 0;
    padding: 35px 39px;

    background-color: #84A178;
    border-radius: 24px;

    font-weight: 400;
    font-size: 12px;
    line-height: 2.5833;

    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-color-light);
}
.customer-name {
    margin: 0;
    padding: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: var(--text-color-dark);
}


