@media screen and (min-width: 768px) {
    .customer-reviews {
        padding-top: 100px;
    }
    .customer-review-text {  
        max-width: 705px;
        min-height: 138px;
        padding: 28px 80px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.88;
    }
    .slider .slick-dots li {
        
        margin-top: 24px;
    }
}