@media screen and (min-width: 1200px) {
    .customer-reviews {
        padding-top: 140px;
    }
    .customer-review-text {  
        max-width: 968px;
                
        padding: 43px 74px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.88;
    }
}