* {
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

body {
	min-width: 320px;
	font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
	margin: 0 auto;
	padding: 0;
}

img {
	display: block;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.button,
.link,
.address {
	cursor: pointer;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.arrow-right::after {
	content: url('../images/svg/arrow-right.svg');
	display: inline-block;
	margin-left: 4px;
}

.button {
	display: block;
}