* {
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

body {
	min-width: 320px;
	font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
	margin: auto;
	padding: 0;

	background-image: url(../images/background/Backgroud_mobile.png);

	background-repeat: repeat-y;
	background-size: contain;
	background-position: center;
}


@media screen and (min-resolution: 2dppx) {
	body {
		background-image: url(../images/background/Backgroud_mobile@2x.png);
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	body {
		background-image: url(../images/background/Background_tablet.png);
	}

	@media screen and (min-resolution: 2dppx) {
		body {
			background-image: url(../images/background/Background_tablet@2x.png);
		}
	}
}

@media screen and (min-width: 1200px) {
	body {
		background-image: url(../images/background/Backgroud_desktop.png);
	}

	@media screen and (min-resolution: 2dppx) {
		body {
			background-image: url(../images/background/Backgroud_desktop@2x.png);
		}
	}
}

img {
	display: block;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.list {
	list-style: none;
}

.link {
	display: block;
	text-decoration: none;
}

.button,
.link,
.address {
	cursor: pointer;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.arrow-right {
	display: inline-block;
	fill: currentColor;
}
.overlay {
	opacity: 0;
	visibility: hidden;
min-width: 320px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	background: rgba(46, 47, 66, 0.4);
	transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}