* {
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

body {
	min-width: 320px;
	font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
	margin: 0 auto;
	padding: 0;

	background-image: url(../images/background/Backgroud_mobile.png);

	background-repeat: repeat-y;
	background-size: contain;
	background-position: center;
}

@media screen and (min-resolution: 2dppx) {
	body {
		background-image: url(../images/background/Backgroud_mobile@2x.png);
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	body {
		background-image: url(../images/background/Background_tablet.png);
	}

	@media screen and (min-resolution: 2dppx) {
		body {
			background-image: url(../images/background/Background_tablet@2x.png);
		}
	}
}

@media screen and (min-width: 1200px) {
	body {
		background-image: url(../images/background/Backgroud_desktop.png);
	}

	@media screen and (min-resolution: 2dppx) {
		body {
			background-image: url(../images/background/Backgroud_desktop@2x.png);
		}
	}
}

img {
	display: block;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.button,
.link,
.address {
	cursor: pointer;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

