:root {
	--section-gren-color: #84a278;
	--text-color-dark: #131313;
	--text-color-light: #fcfcfc;
	--text-focus-color: #ffffff;
	--text-hover-disabled-color: #000000;
	--default-color: #f8d24e;
	--hover-color: #0a8817;
	--disabled-color: #ababab;
	--add-text-color: #d6936d;
	--time-text-color: #907e82;
}
