:root {
	--section-gren-color: #84A278;
	--text-color-dark: #131313;
	--text-color-light: #FCFCFC;
	--text-focus-color: #FFFFFF;
	--text-hover-disabled-color: #000000;
	--default-color: #F8D24E;
	--hover-color: #0A8817;
	--disabled-color: #ABABAB;
	--add-text-color: #D6936D;
	--time-text-color: #907E82;
}