/* Оверлей aka бекдроп */

.overlay {

    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}


/* Глобальні стилі модалок */

.modal {

    /* hidden  */
    opacity: 0;
    visibility: hidden;

    /*  Центрування */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}


/* active */

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}

.franchise-submit:disabled {
    background: var(--disabled-color);
}

// tablet and desctop styles

@media screen and (min-width:767px) {
    .franchise-btn-head {
        width: 332px;
        font-size: 20px;
        line-height: 28px;
    }

    .franchise-btn-text {
        width: 448px;
        font-size: 16px;
    }

    .inputs {
        margin-top: 16px;
        gap: 16px;
    }

    .contact-form-modal {
        font-size: 14px;
        padding-left: 16px;
        height: 40px;
        width: 360px;
    }

    .contact-form-message {
        font-size: 14px;
        line-height: 14px;
        width: 360px;
        height: 84px;
        left: 0;
        top: 216px;
        padding: 8px 16px;
    }

    .franchise-submit {
        font-size: 14px;
        line-height: 17px;
        width: 121px;
        height: 42px;
        margin-top: 32px;
    }

    .modal {
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 24px;
        padding-top: 24px;
    }

    .button-close {
        top: 17px;
        right: 17px;
    }

    .icon-close {
        width: 17px;
        height: 17px;
    }
}

// .modal__cross {
//     width: 15px;
//     height: 15px;
//     position: absolute;
//     top: 20px;
//     right: 20px;
//     fill: #444;
//     cursor: pointer;
// }


}

