/* Оверлей aka бекдроп */

.overlay {
	opacity: 0;
	visibility: hidden;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 20;
	transition: 0.3s all;
}

/* Глобальні стилі модалок */

.modal {


    /* hidden  */
    visibility: hidden;
    opacity: 0;

    /*  Центрування */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;



.modal.active,
.overlay.active {
	opacity: 1;
	visibility: visible;
}

/* Стили для кнопки закрытия */



// Модалка 1

// .overlay {
// 	opacity: 0;
// 	visibility: hidden;

// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	z-index: 50;
// 	background: rgba(46, 47, 66, 0.4);
// 	transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.modal-buy-now {

	// overflow-y: scroll;
	padding: 28px 28px 29px;
	background: #fcfcfc;
	border: 2px solid var(--default-color);
	border-radius: 10px;
	transform: translate(-50%, -50%);
	z-index: 100;
	transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__cross,
.js-modal-close {
	position: fixed;
	top: 16.33px;
	right: 16.48px;
	cursor: pointer;
	z-index: 10000;
}

.modal-buy-now .icon { 
	width: 11.11px;
	height: 11.06px;
}

.modal__title {
	font-family: 'Seymour One';
	line-height: 1.5;
	text-align: center;
	color: var(--text-color-dark);
	margin-bottom: 83px;
}

.modal-buy-now-item {
	width: 132px;
	height: 136px;
	margin: 0 auto 82px;
}

.modal-buy-now-item:nth-child(2) {
	margin-bottom: 85px;
}

.modal-buy-now-item:nth-child(3) {
	margin-bottom: 31px;
}

.item-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: #fcfcfc;
	border: 2px solid #96af8c;
	padding: 95px 0 20px;
	border-radius: 15px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-wrapper.ice-cream {
	border: 2px solid #96af8c;
	box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

.item-wrapper.ice-coffee {
	border: 2px solid #efd478;
	box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

.item-wrapper.milkshake {
	border: 2px solid #d6936d;
	box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

.checkbox:checked ~ .item-label .item-wrapper.ice-cream {
	background-color: #96af8c;
}

.checkbox:checked ~ .item-label .item-wrapper.ice-coffee {
	background-color: #efd478;
}

.checkbox:checked ~ .item-label .item-wrapper.milkshake {
	background-color: #d6936d;
}

.checkbox:hover ~ .item-label {
	cursor: pointer;
}

.bg-circle {
	position: absolute;
	top: -47%;
	width: 132px;
	height: 132px;
	border-radius: 50%;
	background: linear-gradient(
			0deg,
			rgba(156, 190, 143, 0.7),
			rgba(156, 190, 143, 0.7)
		),
		#d9d9d9;
	box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.bg-circle.yellow {
	background: linear-gradient(
			0deg,
			rgba(248, 210, 78, 0.7),
			rgba(248, 210, 78, 0.7)
		),
		#d9d9d9;
	box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.bg-circle {
	background: linear-gradient(
			0deg,
			rgba(213, 117, 63, 0.7),
			rgba(213, 117, 63, 0.7)
		),
		#d9d9d9;
	box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.modal-buy-now-image {
	position: absolute;
	border-radius: 50%;
	width: 132px;
	height: 132px;
	top: -50%;
}

.modal-buy-now-text {
	display: block;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--text-color-dark);
}

.modal-form-input {
	display: block;
	width: 224px;
	height: 32px;
	outline: none;
	color: var(--text-color-dark);
	padding: 8px 12px;
	background: rgba(248, 210, 78, 0.1);
	border: 1px solid #84a178;
	border-radius: 10px;
	margin-bottom: 12px;
}

.validation {
	opacity: 0;
	font-size: 12px;
	font-family: sans-serif;
	color: red;
	transition: opacity;
}

.modal-form-input:required:invalid:not(:placeholder-shown) {
	border: 1px solid red;
}

.modal-form-input:required:invalid:not(:placeholder-shown) + .validation {
	opacity: 1;
}

.modal-form-input::placeholder {
	font-family: 'Montserrat';
	font-size: 12px;
	line-height: 1.4;
	color: var(--text-color-dark);
}

.form-textarea {
	font-family: 'Montserrat';
	font-size: 12px;
	line-height: 1.4;
	color: var(--text-color-dark);
	outline: none;
	display: block;
	width: 224px;
	height: 65px;
	padding: 8px 12px;
	background: rgba(248, 210, 78, 0.1);
	border: 1px solid #84a178;
	border-radius: 10px;
	resize: none;
	margin-bottom: 26px;
}

.form-textarea::placeholder {
	color: var(--text-color-dark);
}

.button-submit {
	display: block;
	margin: 0 auto;
	width: 114px;
	height: 42px;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.25;
	color: var(--text-color-dark);
	background: var(--default-color);
	border-radius: 10px;
	border: transparent;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover {
	background-color: var(--hover-color);
	color: var(--text-hover-disabled-color);
}

.button-submit:focus {
	background-color: var(--hover-color);
	color: var(--text-focus-color);
}

@media screen and (min-width: 768px) {
	.modal-buy-now .button-close {
		top: 17.33px;
		right: 17.37px;
	}
	.modal-buy-now .icon {
		width: 13.33px;
		height: 13.37px;
	}

	.modal-buy-now-title {
		font-size: 20px;
		line-height: 1.4;
		margin-bottom: 103px;
	}
	.modal-buy-now {
		width: 568px;
		padding: 32px 54px;
	}
	.modal-buy-now-list {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 32px;
		margin-bottom: 40px;
	}
	.modal-buy-now-item {
		margin-bottom: 0;
	}
	.modal-buy-now-item:nth-child(2) {
		margin-bottom: 0;
	}

	.modal-buy-now-item:nth-child(3) {
		margin-bottom: 0;
	}
	.modal-form-input {
		width: 368px;
		height: 42px;
		margin: 0 auto 16px;
	}
	.modal-form-input::placeholder {
		font-size: 14px;
	}
	.form-textarea {
		width: 368px;
		height: 84px;
		margin: 0 auto 32px;
	}
	.form-textarea::placeholder {
		font-size: 14px;
	}
	.button-submit {
		font-size: 14px;
		width: 121px;
	}
}


// Модалка 2


// Модалка 3

.modal-about-products {

    // костиль:
    margin-top: 150px;

    position: fixed;
    
    max-width: 568px;

    padding: 28px 20px;

    background: var(--text-color-light);
    border: 2px solid var(--default-color);
    border-radius: 10px;
    opacity: 1;
    transition: transform, 300ms ease-in-out;

}

// .backdrop {
//     position: fixed;
//     width: 100%;
//     height: 100%;

//     top: 0;
//     left: 0;
//     opacity: 1;
//     z-index: 50;
//     overflow-y: scroll;
//     transform: translate(-50%, -100%);
//     background-color: rgba(46, 47, 66, 0.4);
//     transition: transform, 300ms ease-in-out;
// }

// .backdrop.is-hidden {
//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;
// }

// .backdrop.is-hidden .modal-about-products {

//     top: 0;
//     opacity: 0;

// }

.btn-close {

    right: 17px;
    top: 17px;
    width: 17px;
    height: 17px;
}

.modal-form-about {

    position: absolute;
    left: 50%;
    top: 50%;


    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: transform, 300ms ease-in-out;
}


.chocolate {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #131313;
}

.boxes {
    display: flex;
    width: 65px;
    height: 90px;
    border: 2px solid #9cbe8f;
    border-radius: 40px;
    display: inline-table;
}

.boxes-list {
    display: flex;
    padding-top: 24px;
    justify-content: center;
}

.boxes:not(:last-child) {
    margin-right: 20px;
}

.grams {
    width: 53px;
    height: 53px;
    background: #9cbe8f;
    border: 2px solid #9cbe8f;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 12px;
}

.calorie {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color-dark);
    padding-top: 6px;
}

.ingredients {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #131313;
    padding-top: 48px;
    padding-bottom: 24px;
}

.column {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}

.product-item {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    align-items: center;
    letter-spacing: 0.04em;
    color: #131313;
}

.items-product:not(:last-child) {
    margin-bottom: 11px;
}

.form-label {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.form-input {
    width: 368px;
    height: 42px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 16px;
}

.comment {
    padding-bottom: 32px;
}

.form-comment {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 368px;
    height: 84px;
    resize: none;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    padding-top: 11px;
    padding-left: 16px;
}

::placeholder {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
}

.submit-modal-btn {
    width: 121px;
    height: 42px;
    background: #f8d24e;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

// Модалка 4

.modal {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    background: var(--text-color-light);
    border: 2px solid var(--default-color);
    border-radius: 10px;
    opacity: 1;
    transition: transform, 300ms ease-in-out;
}


.x-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 12px;
    height: 12px;
}

.modal-form {
    padding-top: 10px;
    padding-left: 28px;
    padding-right: 28px;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Seymour One';
    line-height: 1.5;
    text-align: center;
    color: var(--text-color-dark);
}

.made-ice-text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.4;
    color: var(--text-color-dark);
}

.close-button {
    border: none;
    background: transparent;
}

.ice-video {
    border-radius: 10px;
}

// Модалка 5
// +
// Модалка 6

.backdrop-franchise {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: #fcfcfc;
    opacity: 1;
    visibility: visible;
    transition: 250ms;
    overflow: scroll;
}

.backdrop-franchise.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.contact-form-one {

    justify-content: center;
    align-items: center;

}

.modal {
    z-index: 1;
    display: flex;
    width: auto;
    height: auto;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    padding: 28px 28px 28px 28px;
}

.franchise-btn-head-1 {
    justify-content: center;
    display: flex;
}

.franchise-btn-head {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;
    text-align: center;

    color: var(--text-color-dark);
}

.franchise-btn-text-1 {
    justify-content: center;
    display: flex;
}

.franchise-btn-text {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */


    color: var(--text-color-dark);
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 12px;
    align-items: center;
}

.contact-form-modal {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    box-sizing: border-box;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--section-gren-color);
    border-radius: 10px;

    padding-left: 12px;
    height: 32px;
    width: auto;
}

.contact-form-message {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;


    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);


    width: auto;
    height: 64px;
    resize: none;
    box-sizing: border-box;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--section-gren-color);
    border-radius: 10px;
    padding: 8px 12px;
}

.franchise-submit {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    width: 114px;
    height: 42px;
    background: var(--default-color);
    color: var(--text-color-dark);
    border: var(--default-color);

    border-radius: 10px;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;

    margin-top: 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}

.button-close {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border-color: transparent;
    color: var(--text-color-dark);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    width: 12px;
    height: 12px;
}

.franchise-submit:hover {
    background: var(--hover-color);
}

.franchise-submit:focus {
    background: var(--hover-color);
    border-radius: 10px;
    fill: var(--text-color-light);
}

.franchise-submit:disabled {
    background: var(--disabled-color);
}

// tablet and desctop styles

@media screen and (min-width:767px) {
    .franchise-btn-head {
        width: 332px;
        font-size: 20px;
        line-height: 28px;
    }

    .franchise-btn-text {
        width: 448px;
        font-size: 16px;
    }

    .inputs {
        margin-top: 16px;
        gap: 16px;
    }

    .contact-form-modal {
        font-size: 14px;
        padding-left: 16px;
        height: 40px;
        width: 360px;
    }

    .contact-form-message {
        font-size: 14px;
        line-height: 14px;
        width: 360px;
        height: 84px;
        left: 0;
        top: 216px;
        padding: 8px 16px;
    }

    .franchise-submit {
        font-size: 14px;
        line-height: 17px;
        width: 121px;
        height: 42px;
        margin-top: 32px;
    }

    .modal {
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 24px;
        padding-top: 24px;
    }

    .button-close {
        top: 17px;
        right: 17px;
    }

    .icon-close {
        width: 17px;
        height: 17px;
    }
}

// .modal__cross {
//     width: 15px;
//     height: 15px;
//     position: absolute;
//     top: 20px;
//     right: 20px;
//     fill: #444;
//     cursor: pointer;
// }


