@media screen and (min-width: 768px) and (max-width: 1199px) {

    /* .container {
        max-width: 768px;

    } */
    .advantages-list{
        margin-right: 76px;
        margin-left: 76px;
    }
    .advantages-item{
        max-width: 152px;
        max-height: 241px;
    }
    .advantages-item:not(:last-chald){
        margin-left: 80px;
    }
}