@media screen and (max-width: 768px) {
	.advantages {
		padding-bottom: 32px;
	}
	.advantages-list {
		flex-direction: column;
	}
	.advantages-item {
		display: flex;
	}
	.advantages-digital {
		max-width: 230px;
	}
}
