/* Tablet-decktop */
@media screen and (min-width: 768px) {
    .advantages-list{

    padding-top: 32px;
    padding-bottom: 32px;
    }
    .advantages-item{
        display: flex;

       
      
    }
.advantages-digital{
    max-width: 230px;
   

}
}



    
.advantages-digital{
    max-width: 230px;


}


