
@media screen and (max-width: 767px) {
	.advantages-list {
		flex-direction: column;
	}
	.advantages-item {
		display: flex;
	}
	.advantages-digital {
		max-width: 230px;
		margin-bottom: 16px;
		margin-top: 16px;
	}
	.advantages-text {
		width: 230px;
		font-weight: 400;
	}
	.advantages-item1 {
		margin-bottom: 32px;
	}
	.advantages-item2 {
		margin-bottom: 32px;
	}
}
