.advantages {
	background-color: var(--section-gren-color);
}
.advantages-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.visually-hidden {
	position: fixed;
	transform: scale(0);
}
.advantages-item1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.advantages-item2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.advantages-item3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.advantages-digital {
	font-size: 36px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.22;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--text-color-light);
	text-align: center;
}
.advantages-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.74;
	color: var(--text-color-light);
	text-align: center;
}
.advantages-item1::before {
	content: '';
	display: block;
	background: url('/src/images/svg/cow.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--default-color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.advantages-item2::before {
	content: '';
	display: block;
	background: url('/src/images/svg/weight.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--default-color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.advantages-item3::before {
	content: '';
	display: block;
	background: url('/src/images/svg/ice-crema.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--default-color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.advantages-item2::before {
	content: '';
	display: block;
	background: url('/src/images/advantages/weight.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--default-color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.advantages-item3::before {
	content: '';
	display: block;
	background: url('/src/images/advantages/ice-cream.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--default-color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
