@media screen and (min-width: 1200px) {
	.advantages-list {
		padding-bottom: 60px;
	}
	.advantages-item {
		display: flex;
	}
	.advantages-digital {
		max-width: 320px;
		margin-bottom: 12px;
		font-size: 58px;
	}

	.advantages-text {
		max-width: 368px;
		text-align: center;
		margin-right: 16px;
		margin-left: 16px;
	}
	.advantages-item:not(:last-chald) {
		margin-right: 32px;
	}

	.advantages-ico-bg {
		margin-bottom: 40px;
	}
}
