
.advantages-container {
     margin-left: 16px;
    margin-right: 16px;
}

.advantages {
	background-color: var(--section-gren-color);
}
.advantages-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.advantages-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
}
.visually-hidden {
	position: fixed;
	transform: scale(0);
}
.advantages-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.advantages-icon-bg {
	display: flex;

	justify-content: center;
	align-items: center;
	background-color: rgba(248, 210, 78, 1);
	border-radius: 50%;
}
.advantages-digital {
	font-size: 36px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.22;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--text-color-light);
}
.advantages-text {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.74;
	color: var(--text-color-light);
}
