@media screen and (max-width: 767px) {

	.footer-heading {
		font-weight: 700;
		font-size: 18px;
		line-height: 1.22;
	}
	.footer-heading span {
		display: inline-block;
		font-size: 34px;
		line-height: 1.2;
		letter-spacing: 0.04em;
		padding-top: 16px;
		padding-bottom: 60px;
	}
	.footer-social-media-list {
		gap: 20px;
		margin-bottom: 20px;
	}
	.footer-contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-left: auto;
	}
	.footer-tel {
		text-align: right;
		display: inline-block;
		padding-bottom: 40px;
		font-weight: 700;
		font-size: 12px;
		line-height: 186%;
	}

	.footer-privacy-policy {
		width: 280px;
		text-align: center;
		padding: 20px 0;
	}
}
@media screen and (max-width: 1999px) {
	.footer-privacy-policy-text {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.52;
	}
}
