@media screen and (min-width: 768px) {

	.contacts {
		background-color: var(--section-gren-color);
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 50%,
			rgba(132, 161, 120, 1) 50%
		);
		padding-top: 80px;
		padding-bottom: 40px;
	}
	.contacts-list {
		display: flex;
		justify-content: space-between;
	}
	.contacts-list-item {
		width: 224px;
		margin: 0;
		padding: 40px 24px;
	}
	.wrapper-text-contacts {
		min-width: 73px;
		height: 30px;
		padding: 4px 13px;
		border-radius: 6px;
		font-size: 16px;
		line-height: 1.37;
	}
	.place-text {
		font-size: 14px;
		line-height: 1.85;
		margin: 32px 0 12px;
	}
	.address {
		font-size: 14px;
		line-height: 1.85;
		padding-bottom: 32px;
		margin-bottom: 32px;
	}
	.working-days-text,
	.working-time-text {
		font-size: 14px;
		line-height: 1.85;
	}
	.wrapper-text-wd {
		padding-bottom: 32px;
		margin-bottom: 32px;
	}
	.contacts-list-tel {
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 4px;
	}
	.contacts-list-mail {
		font-size: 14px;
		line-height: 1.5;
	}
	.btn-contacts-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: baseline;
		column-gap: 16px;
		margin-top: 40px;
	}
	.btn-contacts-one {
		display: inline-block;
		margin: 0;
	}
	.btn-contacts-two {
		display: inline-block;
	}
}
