@media screen and (min-width:1200px) {
    // .contacts-container {
    //     width: 1200px;
    //     padding: 0 16px;
    // }
    .contacts {
        background: linear-gradient(180deg, rgba(255,255,255,1) 23.5%, rgba(132,161,120,1) 23.5%);
    }
    .contacts-list-item {
        width: 368px;
    }
    .wrapper-text-contacts {
        padding: 4px 14px;
    }
    .wrapper-text-week {
        margin-bottom: 12px;
    }
    .place-text {
        font-size: 16px;
        line-height: 1.87;
    }
    .address {
        font-size: 16px;
        line-height: 1.81;
    }
    .working-days-text, .working-time-text {
        font-size: 16px;
        line-height: 1.87;
    }
    .contacts-list-tel {
        font-size: 16px;
    }
    .contacts-list-mail {
        font-size: 16px;
    }
    .btn-contacts-one {
        margin-top: 60px;
        margin-left: 380px;
    }
}