.backdrop-franchise{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: #fcfcfc;
    opacity: 1;
    visibility: visible;
    transition: 250ms;
    overflow: scroll;
}

.backdrop-franchise.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.contact-form-one{
    
    justify-content: center;
    align-items: center;
    
}

.modal {z-index: 1;
    display: flex;
    width: auto;
    height: auto;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    padding: 28px 28px 28px 28px;}

.franchise-btn-head-1{
    justify-content: center;
    display: flex;}

.franchise-btn-head{
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: var(--text-color-dark);}

.franchise-btn-text-1{
    justify-content: center;
    display: flex;}

.franchise-btn-text{
        text-align: left;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        /* or 20px */
        
        
        color: var(--text-color-dark);}

.inputs {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 12px;
            align-items: center;}

.contact-form-modal{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        box-sizing: border-box;
            
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid var(--section-gren-color);
        border-radius: 10px;
        
        padding-left: 12px;
        height: 32px;
        width: auto;}

.contact-form-message{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
        
        
            letter-spacing: 0.01em;
        
            color: rgba(117, 117, 117, 0.5);
            
        
            width: auto;
            height: 64px;
            resize: none;
            box-sizing: border-box;
            background: rgba(248, 210, 78, 0.1);
            border: 1px solid var(--section-gren-color);
            border-radius: 10px;
            padding: 8px 12px;
        }

.franchise-submit{
    
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
        
            width: 114px;
            height: 42px;
            background: var(--default-color);
            color:  var(--text-color-dark);
            border: var(--default-color);
            
            border-radius: 10px;
            display: flex;
            margin: auto;
            text-align: center;
            align-items: center;
            justify-content: center;
            
            margin-top: 24px;
        }

.backdrop.is-hidden .modal {
            transform: translate(-50%, -50%) scale(0.7);
        }
        
.button-close {
            position: absolute;
            top: 16px;
            right: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            background-color: transparent;
            border-color: transparent;
            color: var(--text-color-dark);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

.icon-close{
            width: 12px;
            height: 12px;
        }

.franchise-submit:hover {
            background: var(--hover-color);
            }
        
.franchise-submit:focus{
            background: var(--hover-color);
            border-radius: 10px;
            fill: var(--text-color-light);
        }
        
.franchise-submit:disabled{
            background: var(--disabled-color);
        }

// tablet and desctop styles

@media screen and (min-width:767px) {
    .franchise-btn-head{
        width: 332px;
        font-size: 20px;
        line-height: 28px;
    }

    .franchise-btn-text{
        width: 448px;
        font-size: 16px;
    }

    .inputs{
        margin-top: 16px;
        gap: 16px;
    }

    .contact-form-modal{
        font-size: 14px;
        padding-left: 16px;
        height: 40px;
        width: 360px;
    }

    .contact-form-message{
        font-size: 14px;
        line-height: 14px;
        width: 360px;
        height: 84px;
        left: 0;
        top: 216px;
        padding: 8px 16px;
    }

    .franchise-submit{
        font-size: 14px;
        line-height: 17px;
        width: 121px;
        height: 42px;
        margin-top: 32px;
    }

    .modal{
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 24px;
        padding-top: 24px;
    }

    .button-close{
        top: 17px;
        right: 17px;
    }

    .icon-close{
        width: 17px;
        height: 17px;
    }
}