@media screen and (min-width: 768px) {
    .container-about {
        padding-left: 34px;
        padding-right: 34px;
        display: flex;
        justify-content: space-around;
        gap: 38px;
    }

    .tradition {
        font-size: 22px;
    }

    .title-about {
        font-size: 34px;
    }

    .text-one,
    .text-two,
    .text-three {
        text-align: start;
    }

    .button-center {
        justify-content: flex-start;
    }

    .title-about {
        width: 100%;
        margin-bottom: 80px;
    }

    .text-one,
    .text-two {
        margin-bottom: 8px;
    }

    .text-three {
        margin-bottom: 32px;
    }

    .image-container {
        margin-bottom: 0;
    }

    .image-cow {
        width: 330px;
    }

    .circle-above-cow {
        width: 330px;
        height: 330px;
    }

    .modal {
        width: 568px;
        height: 449px;
    }

    .modal-title {
        margin-bottom: 32px;
    }

    .modal-form {
        padding-left: 60px;
        padding-right: 60px;
    }

    .made-ice-text {
        margin-top: 30px;
    }
}
