.about {
	background-color: var(--section-gren-color);
	padding-top: 60px;
	padding-bottom: 90px;
}
.tradition {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.22;
	text-align: center;
	text-transform: uppercase;
	color: var(--text-color-light);
}
.title-about {
	width: 200px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 32px;
	font-family: 'Seymour One';
	font-size: 30px;
	line-height: 1.26;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--text-color-light);
}
.image-container {
	position: relative;
	display: flex;
	justify-content: center;
	height: 310px;
	margin-bottom: 40px;
}
.circle-above-cow {
	width: 279px;
	height: 279px;
	border-radius: 50%;
	background-color: #efd478;
	box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
}
.circle-above-cow::after {
	content: '';
	position: absolute;
	top: 20px;
	width: 279px;
	height: 279px;
	background-image: url('/src/images/about/webp/cow-desctop.webp');
	background-position: center;
	background-size: cover;
}
.circle-above-cow:hover {
	animation-name: changeBgColor;
	animation-duration: 3000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.about-texts {
	font-size: 12px;
	line-height: 1.76;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--text-color-light);
}
.text-two,
.text-three {
	line-height: 1.62;
}
.text-one,
.text-two,
.text-three {
	margin-top: 0;
	margin-bottom: 4px;
}
.text-three {
	margin-bottom: 24px;
}
.readmore {
	display: flex;
justify-content: center;
align-items: center;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.29;
	text-align: center;
	color: var(--text-hover-disabled-color);
	width: 164px;
	height: 42px;
	background: var(--default-color);
	border-radius: 10px;
	border: none;
}
.button-center,
.img-position {
	display: flex;
	justify-content: center;
}
.about-button-ico {
	width: 6px;
	height: 10px;
	margin-left: 8px;
	min-width: 280px;
}
.readmore:hover {
	background-color: var(--hover-color);
}
.readmore:focus {
	color: var(--text-color-light);
	background-color: var(--hover-color);
}
.readmore:focus > .about-button-ico {
	fill: var(--text-color-light);
}
.close-white {
	color: var(--text-color-light);
}
.close-white {
	fill: currentColor;
}
