@media screen and (min-width: 768px) {
	.about-content {
		display: flex;
		justify-content: space-around;
		gap: 38px;
	}
	.tradition {
		font-size: 22px;
	}
	.title-about {
		font-size: 34px;
	}
	.text-one,
	.text-two,
	.text-three {
		text-align: start;
	}
	.button-center {
		justify-content: flex-start;
	}
	.title-about {
		width: 100%;
		margin-bottom: 80px;
	}
	.text-one,
	.text-two {
		margin-bottom: 8px;
	}
	.text-three {
		margin-bottom: 32px;
	}
	.image-container {
		margin-bottom: 0;
	}
	.circle-above-cow {
		width: 330px;
		height: 330px;
		box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
	}
	.circle-above-cow::after {
		content: '';
		background: url("/src/images/about/webp/cow-tablet.webp");
		top: 26px;
		width: 330px;
		height: 330px;
	}
}
