<div class="modal about-modal" data-modal="4">
	<a href="#" class="js-modal-close" data-modal="4">
		<svg class="modal__cross js-modal-close" width="20" height="20">
			<use href="./images/sprite.svg#icon-close-black"></use>
		</svg>
	</a>
	<div class="modal-form-container">
		<h3 class="modal-title">How it’s made?</h3>
		<div class="video">
			<div class="player">
				<iframe
					class="iframe"
					class="ice-video"
					src="https://www.youtube.com/embed/zagD0LQdsDE"
					frameborder="0"
					allow="autoplay; encrypted-media;"
					allowfullscreen
				>
				</iframe>
			</div>
			<p class="made-ice-text">
				To make ice-cream heat the cream and milk over a low heat, stirring
				occasionally, until it almost boils – you’ll see a few bubbles at the
				edge. Take off the heat and set aside for 30 minutes so the vanilla can
				infuse.
			</p>
		</div>
	</div>
</div>
