<div class="modal modal-locations" data-modal="5">
	<a href="#" class="js-modal-close" data-modal="5">
		<svg class="modal__cross js-modal-close" width="20" height="20">
			<use href="./images/sprite.svg#icon-close-black"></use>
		</svg>
	</a>
	<h3 class="modal-title">Our Locations</h3>
	<img-wrapper>
		<img
			class="image-location"
			srcset="
				./images/contacts/our-locations.png    1x,
				./images/contacts/our-locations@2x.png 2x
			"
			src="./images/contacts/our-locations.png"
			alt="Poltava city"
			width="224"
			height="199"
		/>
	</img-wrapper>
	<button type="button" class="open-map-button button">
		<link
			href="https://khladoprom.com/kontaktyi/"
			rel="stylesheet"
			class="linkі">Open map
	</button>
</div>