.about-modal {
	padding: 32px 60px;
	width: 568px;
	max-width: 780px;
	text-align: center;
	display: flex;
	gap: 32px;
	flex-direction: column;
}

.iframe {
	width: 448px;
	border-radius: 10px;
}

.made-ice-text {
	line-height: 1.4em;
}

.title-modal {
	font-family: 'Seymour One';
	font-size: 20px;
	line-height: 1.4em;
}
