.modal-form-about {
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 32px 40px;
	display: flex;
	flex-direction: column;
	opacity: 1;
	transition: transform, 300ms ease-in-out;
}

.ingredients-img {
	margin-left: auto;
	margin-right: auto;
}

.chocolate {
	font-family: 'Seymour One';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #131313;
}

.icecream-image {
	margin: auto;
}

@media screen and (min-width: 320px) {
	.boxes:not(:last-child) {
		margin-right: 9px;
	}

	.form-comment {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: auto;
		height: 84px;
		resize: none;
		background: rgba(248, 210, 78, 0.1);
		border: 1px solid #84a178;
		border-radius: 10px;
		padding-top: 11px;
		padding-left: 16px;
		outline: none;
	}
}

.boxes {
	display: flex;
	width: 65px;
	height: 90px;
	border: 2px solid #9cbe8f;
	border-radius: 40px;
	display: inline-table;
}

.boxes-list {
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	.boxes:not(:last-child) {
		margin-right: 20px;
	}

	.form-comment {
		display: flex;
		justify-content: center;
		margin: auto;
		max-width: 368px;
		height: 84px;
		resize: none;
		background: rgba(248, 210, 78, 0.1);
		border: 1px solid #84a178;
		border-radius: 10px;
		padding-top: 11px;
		padding-left: 16px;
		outline: none;
	}

	.form-input {
		max-width: 368px;
		height: 42px;
		background: rgba(248, 210, 78, 0.1);
		border: 1px solid #84a178;
		border-radius: 10px;
		padding-top: 11px;
		padding-bottom: 11px;
		padding-left: 16px;
		outline: none;
	}
}

.grams {
	width: 53px;
	height: 53px;
	background: #9cbe8f;
	border: 2px solid #9cbe8f;
	box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: 50%;
	margin: 0 auto;
	font-size: 12px;
}

.calorie {
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: var(--text-color-dark);
	padding-top: 6px;
}

.ingredients {
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	align-items: center;
	text-align: center;
	color: #131313;
	padding-top: 48px;
	padding-bottom: 24px;
}

.column {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
}

.product-item {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 14px;
	line-height: 176%;
	align-items: center;
	letter-spacing: 0.04em;
	color: #131313;
}

.items-product:not(:last-child) {
	margin-bottom: 11px;
}

.form-label {
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
}

.form-input {
	width: 100%;
	height: 42px;
	background: rgba(248, 210, 78, 0.1);
	border: 1px solid #84a178;
	border-radius: 10px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 16px;
	outline: none;
}

.form-comment {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: auto;
	height: 84px;
	resize: none;
	background: rgba(248, 210, 78, 0.1);
	border: 1px solid #84a178;
	border-radius: 10px;
	padding-top: 11px;
	padding-left: 16px;
	outline: none;
}
s .comment {
	padding-bottom: 32px;
}

::placeholder {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #131313;
}

.submit-modal-btn {
	width: 121px;
	height: 42px;
	background: #f8d24e;
	border-radius: 10px;
	border: none;
	margin: 0 auto;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
	transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-modal-btn:hover {
	background: var(--hover-color);
}
