.modal-locations {
	padding-left: 60px;
	padding-right: 60px;
}
.modal-title {
	margin-bottom: 20px;
	font-family: "Seymour One";
	line-height: 1.5;
	align-items: center;
	text-align: center;
	color: var(--text-color-dark);
	margin-bottom: 32px;
}
.image-location {
	display: block;
	border-radius: 10px;
	margin-bottom: 32px;
}
.modal-locations-button {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 20px;
	height: 20px;
	border: none;
	background-color: var(--text-focus-color);
}
.open-map-button {
	margin: auto;
	width: 145px;
	height: 42px;
	border-radius: 10px;
	border: none;
}
.open-map-button .linki {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.25;
	text-decoration: none;
}
.open-map-button {
	display: block;
	background-color: var(--default-color);
	color: var(--text-color-dark);
}
.open-map-button:hover {
	background-color: var(--hover-color);
	color: var(--text-color-dark);
}
.open-map-button:focus {
	background-color: var(--hover-color);
	color: var(--text-focus-color);
}
.open-map-button .linki {
	color: currentColor;
	font-size: 14px;
	line-height: 18px;
}
