// .overlay {
	// <!-- Скрываем подложку  -->
// 	opacity: 0;
// 	visibility: hidden;

// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: rgba(46, 47, 66, 0.4);
// 	z-index: 500;
// 	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
// }

// /* Стили для модальных окон */

// .modal {
// 	/* Скрываем окна  */
// 	opacity: 0;
// 	visibility: hidden;

// 	/*  Установаем ширину окна  */



// 	/*  Центрируем и задаем z-index */
// 	position: fixed;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -50%);

// padding: 28px 28px 29px;
// 	background: #fcfcfc;
// 	border: 2px solid var(--default-color);
// 	border-radius: 10px;
// 	transform: translate(-50%, -50%);


// 	z-index: 1000;
// 	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
// 	/* Должен быть выше чем у подложки*/

// 	/*  Побочные стили   */
	// box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
	// text-align: center;
	// padding: 30px;
	// border-radius: 3px;
	// background-color: #fff;
	// transition: 0.3s all;
// }

// <!-- /* Стили для активных классов подложки и окна */ -->

// .modal.active,
// .overlay.active {
// 	opacity: 1;
// 	visibility: visible;
// }

// <!-- /* Стили для кнопки закрытия */ -->

// .modal__cross {

// 	
// 	top: 16.33px;
// 	right: 16.48px;
// 	cursor: pointer;
// }

// <!-- /* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */ -->
