<section class="about-modal">
    <div class="backdrop is-hidden">
        <div class="modal">
            <button class="btn-close" type="button">
                <svg class="btn-close-icon" width="13" height="13">
                    <use href="../images/sprite.svg#icon-close-black"></use>
                </svg>
            </button>
            <div>
                <form>
                    <p class="chocolate">Chololate icecream</p>
                    <div class="ice-cream-photo-item">
                        <img src="../images/products/ice-cream-products.jpg">
                    </div>
                    <ul>
                        <li>
                            <p>320</p>
                            <p>kcal</p>
                        </li>
                        <li>
                            <p>4g</p>
                            <p>Protein...</p>
                        </li>
                        <li>
                            <p>8,2g</p>
                            <p>Fats</p>
                        </li>
                        <li>
                            <p>40,4g</p>
                            <p>Carbs</p>
                        </li>
                    </ul>
                    <p>Ingredients</p>
                    <ul>
                        <li>Milk</li>
                        <li>Belgian chocolate</li>
                        <li>Cream</li>
                        <li>Cocoa powder</li>
                        <li>Sugar</li>
                        <li>Vanilla sugar</li>
                    </ul>
                    <ul>
                        <li>100ml</li>
                        <li>20g</li>
                        <li>150 ml</li>
                        <li>30g</li>
                        <li>40g</li>
                        <li>10g</li>
                    </ul>
                    <label class="form-label" for="name">
                       <input  class="form-input" type="text" name="name" id="name" placeholder="Name"/>
                    </label>
                    <label for="tel">
                        <input  class="form-input" type="tel" name="tel" id="tel" placeholder="Phone"/>
                    </label>
                    <label for="Comment">
                        <textarea name="Comment" id="Comment" cols="30" rows="10" placeholder="Comment"></textarea>
                    </label>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>