<!-- A b o u t -->

<section id="about" class="about">
	<div class="container-about container">
		<p class="tradition">tradition and love</p>

		<h2 id="about" class="title-about">how it’s made?</h2>
		<div class="about-content">
			<div class="image-container">
				<div class="circle-above-cow"></div>
			</div>
			<div class="about-texts">
				<p class="text-one">
					Ice is a place where you will become not only a little happier, but
					also healthier. Health is the main value for us, and we follow it when
					creating our handmade desserts.
				</p>
				<p class="text-two">
					We use traditional recipes and 100% natural ingredients. Our products
					are so natural that they can be given to children from the age of
					three years. Sweets lovers can expect 55 types of ice cream, 15 types
					of coffee and 23 milkshakes.
				</p>
				<p class="text-three">
					This is enough to choose ice cream and coffee for any mood!
				</p>

				<div class="button-center">
					<button class="readmore button" type="button" data-modal-open>
						Read more
						<!--<svg class="read-button" width="12px" height="12px">
						<use href="./images/icons.svg#vector"></use>
					</svg>-->
					</button>
					<div class="backdrop is-hidden" data-modal>
						<div class="modal">
							<button class="close-button" data-modal-close>
								<!--<svg class="x-button">
								<use href="./images/icons.svg#x-button"></use>
							</svg>-->
							</button>
							<div class="modal-form">
								<h3 class="modal-title">How it’s made?</h3>
								<div class="video">
									<iframe
										class="ice-video"
										width="100%"
										height="100%"
										src="https://www.youtube.com/embed/zagD0LQdsDE"
										frameborder="0"
										allow="autoplay; encrypted-media;"
										allowfullscreen
									>
									</iframe>
									<p class="made-ice-text">
										To make ice-cream heat the cream and milk over a low heat,
										stirring occasionally, until it almost boils – you’ll see a
										few bubbles at the edge. Take off the heat and set aside for
										30 minutes so the vanilla can infuse.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
