<section class="advantages">
	<div class="advantages-container container">
		<h2 class="visually-hidden">Our the advantages</h2>

		<ul class="advantages-list list">
			<li class="advantages-item1 delete visually-hidden"></li>

			<li class="advantages-item1 visually-hidden"></li>

			<li class="advantages-item">
				<div class="advantages-ico-bg">
					<svg class="advantages-ico">
						<use href="./images/advantages/advantages-sprite.svg#cow"></use>
					</svg>
				</div>
				<p class="advantages-digital">721</p>
				<p class="advantages-text">
					Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
				</p>
			</li>

			<li class="advantages-item">
				<div class="advantages-ico-bg">
					<svg class="advantages-ico">
						<use href="./images/advantages/advantages-sprite.svg#weight"></use>
					</svg>
				</div>
				<p class="advantages-digital ice">16kg</p>
				<p class="advantages-text">
					Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
				</p>
			</li>

			<li class="advantages-item">
				<div class="advantages-ico-bg">
					<svg class="advantages-ico">
						<use
							href="./images/advantages/advantages-sprite.svg#ice-crema"
						></use>
					</svg>
				</div>
				<p class="advantages-digital">84</p>
				<p class="advantages-text">
					Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
				</p>
			</li>
		</ul>
	</div>
</section>
