<section class="advantages">
 
 <div class="container">
    <h2 class="visually-hidden">Our the advantages</h2>

<ul class="advantages-list list">
   
    <li class="advantages-item">
        <div class="advantages-icon-bg" >
            <svg class="advantages-icon" width="32px" height="32px">
                <use class="" href="./img/advanteges-icon.svg#icon-cow">
                </use>
            </svg>
        </div>
            <p class="advantages-digital">
                721
            </p>
            <p class="advantages-text">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.</p>     
    </li>

    <li class="advantages-item">
        <div class="advantages-icon-bg" >
            <svg class="advantages-icon" width="32px" height="32px">
                <use class="" href="./img/advanteges-icon.svg#icon-weight">
                </use>
            </svg>
        </div> 
        <p class="advantages-digital">
            16kg
        </p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.</p>
    </li>
    

    <li class="advantages-item">
        <div class="advantages-icon-bg" >
            <svg class="advantages-icon" width="32px" height="32px">
                <use class="" href="./img/advanteges-icon.svg#icon-ice-crema">
                </use>
            </svg>
        </div> 
        <p class="advantages-digital">
            84
        </p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.</p>
    </li>

</ul>
    
 </div>  
</section>	

