<section class="contacts">
	<div class="contacts-container container">
		<h2 id="contact" class="secondary-title visually-hidden">contacts</h2>
		<ul class="contacts-list list">
		  <li class="contacts-list-item">
			<p class="wrapper-text-contacts">Cafe</p>
			<p class="place-text">Chicago</p>
			<address class="address">
			  10340 Ridgeland Ave, Chicago Ridge,IL 60415, USA
			</address>
			<div class="wrapper-text-wd">
			  <div class="wrapper-text-week">
				<p class="working-days-text">Monday - Friday</p>
				<p class="working-time-text">06:00 AM - 10:00 PM</p>
			  </div>
			  <p class="working-days-text">Saturday - Sunday</p>
			  <p class="working-time-text">08:00 AM - 16:00 PM</p>
			</div>
			<a class="contacts-list-tel link" href="tel:+610383766284"
			  >+61(0) 383 766 284</a
			>
			<a
			  class="contacts-list-mail link" href="mailto:noreply@envato.com"
			  >noreply@envato.com</a
			>
		  </li>
		  <li class="contacts-list-item">
			<p class="wrapper-text-contacts">Foodtruck</p>
			<p class="place-text">Los Angeles</p>
			<address class="address">
			  1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
			</address>
			<div class="wrapper-text-wd">
			  <div class="wrapper-text-week">
				<p class="working-days-text">Monday - Friday</p>
				<p class="working-time-text">06:00 AM - 10:00 PM</p>
			  </div>
			  <p class="working-days-text">Saturday - Sunday</p>
			  <p class="working-time-text">08:00 AM - 16:00 PM</p>
			</div>
			<a class="contacts-list-tel link" href="tel:+610383766284"
			  >+61(0) 383 766 284</a
			>
			<a
			  class="contacts-list-mail link" href="mailto:noreply@envato.com"
			  >noreply@envato.com</a
			>
		  </li>
		  <li class="contacts-list-item">
			<p class="wrapper-text-contacts">Cafe</p>
			<p class="place-text">New York</p>
			<address class="address">
			  726 Sterling Pl, Brooklyn, NY 11222, USA
			</address>
			<div class="wrapper-text-wd">
			  <div class="wrapper-text-week">
				<p class="working-days-text">Monday - Friday</p>
				<p class="working-time-text">06:00 AM - 10:00 PM</p>
			  </div>
			  <p class="working-days-text">Saturday - Sunday</p>
			  <p class="working-time-text">08:00 AM - 16:00 PM</p>
			</div>
			<a class="contacts-list-tel link" href="tel:+610383766284"
			  >+61(0) 383 766 284</a
			>
			<a
			  class="contacts-list-mail link" href="mailto:noreply@envato.com"
			  >noreply@envato.com</a
			>
		  </li>
		</ul>
		<button class="btn-contacts-one button" type="button" data-modal-open>Our Locations
		  <svg class="svg-btn-contacts">
			<use></use>
		  </svg> 
		</button>
		<button class="btn-contacts-two button" type="button" data-modal-open>Franchise
		  <svg class="svg-btn-contacts">
			<use ></use>
		  </svg>
		</button>
	</div>

                	                   <div class="backdrop is-hidden" data-modal>
		                              <div class="modal">
			                           <form class="franchise-form">
				                     <div class="franchise-btn-head-1">
					                 <p class="franchise-btn-head">Thank you for your interest in owning an Ice Cream shop</p>
				                     </div>

				                     <div class="franchise-btn-text-1">
					                <p> class="franchise-btn-text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee                 applications at this time. Once the application process resumes, we will contact you for further information. Please                 fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
				                    </div>
				        <div class="inputs"> 
					    <label class="contact-form-one">
					    <input 
						class="contact-form-modal name" 
						type="Name" 
						name="user_name" 
						autocomplete="off"
						placeholder="Name">
				    	</label>

					<label class="contact-form-one">
					<input 
					class="contact-form-modal phone" 
					type="Phone" 
					name="user_phone"
					autocomplete="off"
					placeholder="Phone">
					</label>

					<label class="contact-form-one">
					<input 
					class="contact-form-modal email" 
					type="Name" 
					name="user_name" 
					required
					autocomplete="off"
					placeholder="Email">
					</label>

					
					<textarea class="contact-form-message" placeholder="Comment"></textarea>
					
				</label>
				                    </div>
				
			                    	<div class="franchise-submit-btn">
				<button class="franchise-submit">Submit</button>
				

		         	</form>
	       	  <button type="button" class="button-close" data-modal-close>
                <!-- <svg class="icon-close">
		   	  <use href="./images/sprite.svg#icon-close-black"></use>
		      	</svg> -->
		  </button>
		</div>
	  </div>
	<!-- Our Locations -->
	<div class="backdrop is-hidden" data-modal>
		<div class="modal-locations">
			<button type="button" class="modal-locations-button" data-modal-close>
				<svg class="icon" width="12" height="12">
					<!-- <use href="./images/icons.svg#icon-modalbtn"></use> -->
				</svg>
			</button>
			<h3 class="modal-title">Our Locations</h3>
			<img-wrapper>
				<img class="image-location"
					srcset="./images/contacts/our-locations.png 1x, ./images/contacts/our-locations@2x.png 2x, ./images/contacts/our-locations@3x.png 3x"
					src="./images/contacts/our-locations.png" alt="Poltava city" width="224" height="199">
			</img-wrapper>
			<button type="button" class="open-map-button">
				<a href="https://khladoprom.com/kontaktyi/" target="_blank" rel="noreferrer noopener" class="link">Open map</a>
			</button>
		</div>
	</div>
</section>
