<section class="customer-reviews">
	<div class="customer-container container">
		<h2 class="reviews-title visually-hidden">Customer Reviews</h2>

		<ul class="reviews-list slider">
			<li class="review-item slider__item">
				<img
					class="customer-photo"
					srcset="
						/src/images/slider/webp/img1.webp    1x,
						/src/images/slider/webp/img1@2x.webp 2x
					"
					src="/src/images/slider/webp/img1.webp"
					alt="Customer's photo 1"
				/>
				<p class="customer-review-text">
					I love visiting your cafe. You prepare the most delicious ice cream in
					Los Angeles! In addition, you have beautiful serving, cozy atmosphere
					and polite staff.
				</p>
				<p class="customer-name">Emily, Los Angeles</p>
			</li>

			<li class="review-item slider__item">
				<img
					class="customer-photo"
					srcset="
						/src/images/slider/webp/img2.webp    1x,
						/src/images/slider/webp/img2@2x.webp 2x
					"
					src="/src/images/slider/webp/img2.webp"
					alt="Customer's photo 2"
				/>
				<p class="customer-review-text">
					Every day we come to you with friends after classes in college. We
					love your ice cream and casual atmosphere!
				</p>
				<p class="customer-name">Diana, Chicago</p>
			</li>

			<li class="review-item slider__item">
				<img
					class="customer-photo"
					srcset="/src/images/slider/webp/img3.webp 1x, /src/images/slider/webp/img3@2x.webp 2x"
					src="/src/images/slider/webp/img3.webp"
					alt="Customer's photo 2"
				/>
				<p class="customer-review-text">
					Ice cream is my passion! I love your chocolate hazelnut ice cream! And
					I really like the excellent service - always served politely and
					quickly!
				</p>
				<p class="customer-name">Bryan, New-York</p>
			</li>
		</ul>
	</div>
</section>
