<footer class="footer">
	<div class="footer-container container">
		<div class="footer-main-content">
			<p class="footer-heading">
				HOMEMADE ICE CREAM MADE
				<span>WITH PASSION</span>
			</p>
			<div class="footer-contacts">
				<ul class="footer-social-media-list">
					<li>
						<a
							class="footer-social-media-linki"
							target="_blank"
							href="https://github.com/"
							aria-label="github">
							<svg class="footer-social-media-ico">
								<use href="./images/sprite.svg#icon-github"></use>
							</svg>
						</a>
					</li>
					<li>
						<a	class="footer-social-media-linki"
							target="_blank"
							href="https://telegram.me/"
							aria-label="telegram">
							<svg class="footer-social-media-ico">
								<use href="./images/sprite.svg#icon-telegram">							
							</use>
							</svg>
						</a>
					</li>
					<li>
						<a
							class="footer-social-media-linki"
							target="_blank"
							href="https://www.facebook.com"
							aria-label="facebook">
							<svg class="footer-social-media-ico">
								<use href="./images/sprite.svg#icon-facebook">

								</use>
							</svg>
						</a>
					</li>
				</ul>
				<p class="footer-tel">
					Feel free to contact
					<a class="footer-tel-linki" href="tel:+61(0)383766284"
						>+61 (0) 383 766 284</a>
				</p>
			</div>
		</div>
		<div class="separator"></div>
		<div class="footer-privacy-policy">
			<p class="footer-privacy-policy-text">© 2022 - IceCream.</p>
			<p class="footer-privacy-policy-text">All Rights Reserved.</p>
		</div>
	</div>
</footer>
