<section class="gallery">
	<div class="container">
		<h2 class="visually-hidden">Gallery</h2>
		<ul class="gallery-slider">
			<li class="gallery-slider-item">
				<img
					srcset="
						/src/images/gallery/avif/img1.avif    1x,
						/src/images/gallery/avif/img1@2x.avif 2x
					"
					src="/src/images/gallery/avif/img1.avif"
					class="gallery-slider-photo"
					alt="ice cream photo"
				/>
			</li>
			<li class="gallery-slider-item">
				<img
					srcset="
						/src/images/gallery/avif/img2.avif    1x,
						/src/images/gallery/avif/img2@2x.avif 2x
					"
					src="/src/images/gallery/avif/img2.avif"
					class="gallery-slider-photo"
					alt="ice cream photo"
				/>
			</li>
			<li class="gallery-slider-item">
				<img
					srcset="
						/src/images/gallery/avif/img3.avif    1x,
						/src/images/gallery/avif/img3@2x.avif 2x
					"
					src="/src/images/gallery/avif/img3.avif"
					class="gallery-slider-photo"
					alt="ice cream photo"
				/>
			</li>
		</ul>
	</div>
</section>
