<section class="gallery">
    <div class="container">
        <ul class="gallery-slider">
            <li class="gallery-slider-item">
                <img src="./images/gallery/img1.jpg" class="gallery-slider-photo" alt="ice cream photo">
            </li>
            <li class="gallery-slider-item">
                <img src="./images/gallery/img2.jpg" class="gallery-slider-photo" alt="ice cream photo">
            </li>
            <li class="gallery-slider-item">
                <img src="./images/gallery/img3.jpg"class="gallery-slider-photo" alt="ice cream photo">
            </li>
        </ul>
    </div>
</section>