<!-- <div class="menu-nav is-open" data-menu>
	<div class="menu-container">
		<nav class="navigation">
			<ul class="nav-list list" data-menu-close>
				<li class="nav-item">
					<a href="#home" class="nav-link link">Home </a>
				</li>
				<li class="nav-item">
					<a href="#about" class="nav-link link">How it’s made?</a>
				</li>
				<li class="nav-item">
					<a href="#product" class="nav-link link">Our products</a>
				</li>
				<li class="nav-item">
					<a href="#сontact" class="nav-link link">Contact</a>
				</li>
			</ul>
		</nav>

		<button class="close-menu button" type="button" data-menu-close>
			<svg class="close-white" width="20" height="20">
				<use href="./images/sprite.svg#icon-close-white"></use>
			</svg>

			<a href="#" class="js-open-modal button-buy-now" data-modal="1"
				>Buy now
				<svg class="arrow-on" width="12" height="12">
					<use href="./images/sprite.svg#icon-arrow-right"></use>
				</svg>
			</a>
		</button>
	</div>F
</div> -->
А