<section id="product" class="products">
	<div id="natural" class="products-container container">
		<div class="products-header-box">
			<p class="products-header-label">100% natural</p>
			<h2 class="products-header">products</h2>
		</div>
		<ul class="products-cards-list">
			<li class="products-card">
				<div class="products-card-textbox">
					<h3 class="products-card-title">ice cream</h3>
					<p class="products-card-text">
						Soft ice cream with a delicate taste. Made with milk, cream, sugar
						and natural stabilizer
					</p>
				</div>
				<button   class="products-arrow-btn button js-open-modal" data-modal="3" aria-label="products1">
					<svg class="arrow" height="16" width="40">
						<use href="./images/sprite.svg#icon-arrow"></use>
					</svg>
				</button>
			</li>
			<li class="products-card">
				<div class="products-card-textbox">
					<h3 class="products-card-title">ice coffee</h3>
					<p class="products-card-text">
						Fragrant invigorating drink created from 100% natural ingredients
						without the use of preservatives and flavor enhancers
					</p>
				</div>
				<button class="products-arrow-btn button js-open-modal" data-modal="3" aria-label="products2">
					<svg class="arrow" height="16" width="40">
						<use href="./images/sprite.svg#icon-arrow"></use>
					</svg>
				</button>
			</li>
			<li class="products-card">
				<div class="products-card-textbox">
					<h3 class="products-card-title">milkshakes</h3>
					<p class="products-card-text">
						Sweet drinks based on milk and ice cream, supplemented with syrups,
						fruits, berries and other sweets of your choice
					</p>
				</div>
				<button class="products-arrow-btn button js-open-modal" data-modal="3" aria-label="products3">
					<svg class="arrow" height="16" width="40">
						<use href="./images/sprite.svg#icon-arrow"></use>
					</svg>
				</button>
			</li>
		</ul>
	</div>
</section>
