@media screen and (min-width: 768px) {
	.products-header-label {
		font-size: 22px;
		line-height: 1.2273;
	}
	.products-header {
		font-size: 34px;
		line-height: 1.2647;
	}
	.products-cards-list {
		flex-direction: row;
		justify-content: center;
		gap: 16px;
		margin: 200px 0 60px 0;
	}
	.products-card {
		padding: 124px 26px 0 26px;
		width: 224px;
		height: 428px;
	}
	.products-card-title {
		font-size: 22px;
		line-height: 1.2273;
	}
}
